<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>GjejFjalën | UPT_mode: on; </title> 
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <html ng-app><head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
</head>

<body ng-controller="GjejFjalen">
<h1>GjejFjalën</h1>
<h2>Pssst. Fjalët janë me temë nga jeta studentore në UPT.</h2>

  <div class="secretWord">
      <li ng-repeat="shkronja in fjalaSekrete">
        <span ng-hide="shkronja.zgjedhur">_</span>
        <span ng-show="shkronja.zgjedhur">{{ shkronja.vlera }}</span>
      </li>
    </ul>

    <ul>
      <li ng-repeat="shkronja in alfabeti">
        <button class="butonMeShkronje" ng-disabled="shkronja.zgjedhur" ng-click="try(shkronja.zgjedhur);">{{shkronja.vlera}}</button>
      </li>
    </ul>

    <p>
      <span ng-hide="fitore || humbje">Ju keni edhe {{ nrMundesive - nrShkronjaveGabim }} mundësi.</span>
      <span ng-show="fitore">Ju fituat :)</span>
      <span ng-show="humbje">Ju humbët :/</span>
    </p>
  </div>

  <button ng-show="fitore || humbje" ng-click="rifillo();" class="butonLojeRe">Lojë e Re</button>
</body>
</html>

<script src="js/index.js"></script>




</body>
</html>
