    <div class="container">

      <form class="form-signin text-center">
        <img src="pizza_logo.png" alt="Picieri" style="height:150px; margin: 0 auto; margin-top:50px;">
        <h4 class="text-center">Mirësevini tek Picieri!</h4>
        <label for="inputEmail" class="sr-only">Emri përdoruesit</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Emri përdoruesit" ng-model="username" required autofocus>
        <label for="inputPassword" class="sr-only">Fjalëkalimi</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Fjalëkalimi" ng-model="password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit"  ng-click="logIn(username, password)">Identifikohu</button>

      <p class="danger text-center" style="margin-top:20px;">{{user.message}}</p>
      </form>


    </div> <!-- /container -->