<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link data-require="bootstrap-css@*" data-semver="2.3.2" rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" />
    <script data-require="angular.js@1.1.5" data-semver="1.1.5" src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
    <script data-require="jquery@*" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="bootstrap@2.3.2" data-semver="2.3.2" src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-controller="mainData">
    <h1>Hello Plunker!</h1>
    <div id="content">
      <div class="wrap full">
        <div ng-init="names = [{name:'one'}, {name:'two'}, {name:'three'}, {name:'four'}, {name:'five'}]">
          <ul class="nav nav-tabs" id="mytab">
            <li ng-repeat="name in names"  ng-class="{active: $index == 0}">
              <a href="#tab{{$index + 1}}" data-toggle="tab">Week {{$index + 1}}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in" id="tab{{$index + 1}}" ng-repeat="name in names">
              <p>{{$index + 1}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table>
      <tr ng-repeat="pizza in pizzaList">
        <td>{{pizza._id}}</td>
    </table>

  </body>

</html>
