<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link data-require="bootstrap-css@*" data-semver="3.3.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script data-require="angular.min.js@1.4.5" data-semver="1.4.4" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js"></script>
  </head>

  <body ng-controller="mainData">
    

    <div class="container">
      <div class="row">
        <div class="col-md-4">
        <!-- {{(pizzaList | filter:{pizza_status == 0}).length}} -->
          <ul class="nav nav-tabs">
            <li ng-class="{active: listID == 0}"><a href="#" ng-click='setListID(0)'>Pritje</a></li>
            <li ng-class="{active: listID == 1}"><a href="#" ng-click='setListID(1)'>Gatim</a></li>
            <li ng-class="{active: listID == 2}"><a href="#" ng-click='setListID(2)'>Pjekje</a></li>
            <li ng-class="{active: listID == 3}"><a href="#" ng-click='setListID(3)'>Transport</a></li>
          </ul>
          <ul class="list-group">
            <li ng-if="pizza.pizza_status == listID" ng-repeat="pizza in pizzaList" class="list-group-item">
            <a href="#" ng-click='selectPizza(pizza.pizza_user_template._id)'>
              {{pizza.pizza_user_template.name}} {{pizza.pizza_status}} {{pizza.oreder_time}} 
              </a>
            </li>
          </ul> 
        </div>

        <div ng-show="isSelected" class="col-md-8">
        <h2>{{selectedPizza.name}}  <small>në pritje</small></h2>
        <div class="row">
          <div class="col-md-5">

          <h3>Përbërja <span class="price">{{price}}</span></h3>
          <div class="progress">
              <div class="progress-bar progress-bar-warning" role="progressbar" style="width:33%">
                20cm
              </div>
          </div>
          <ul class="list-group list-unstyled">
            <li ng-repeat="i in selectedPizza.ingredients">
              <a href="#" class="list-group-item">
                <img class="ingredient_image" src="http://porosit-pica.herokuapp.com/img/ingredients/{{i.ingredient.image}}" alt="">
                <h4 class="list-group-item-heading">{{i.ingredient.name}}</h4>
                <p class="list-group-item-text">{{i.quantity}}</p>
              </a>            
            </li>
          </ul>
          </div>
          <div class="col-md-6 col-md-offset-1">
          <h3>Detaje</h3>
          <h4>{{selectedPizza.user_id.name}} {{selectedPizza.user_id.surname}}</h4>
            <ul>
              <li><span class="glyphicon glyphicon-earphone"></span> {{selectedPizza.user_id.phone}}</li>
              <li><span class="glyphicon glyphicon-envelope"></span> {{selectedPizza.user_id.email}}</li>
            </ul>

            <h4>Adresa</h4>
            <p>{{selectedPizza.address}}</p>
            <div>
    <div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
</div>
          </div>          
        </div>
          {{selectedPizzaDetails.deliverer_id}}
          {{selectedPizzaDetails.pizzaiolo_id}}
          {{selectedPizzaDetails.pizza_status}}
          {{selectedPizzaDetails.orderCoords.latitude}}
          {{selectedPizzaDetails.orderCoords.longitude}}
          {{selectedPizzaDetails.oreder_time}}

          {{selectedPizza}}
        </div>
      </div> 
    </div>
  </body>

</html>
