<!DOCTYPE html>
<html ng-app="app">

  <head>
    <link data-require="bootstrap-css@*" data-semver="3.3.5" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <script data-require="angular.min.js@1.4.5" data-semver="1.4.4" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body ng-controller="mainData">
    <h1>Mirësevi tek picieri!</h1>

    <ul>
      <li ng-if="pizza.pizza_status == 0" ng-repeat="pizza in pizzaList">
        {{pizza.pizza_user_template.name}} {{pizza.pizza_status}} {{pizza.oreder_time}}
      </li>
    </ul>

  </body>

</html>
