li.list-group-item:first-child {
	border-top: 0px;
}

.ingredient_image{
	height: 43px;
	float: right;
}

a.list-group-item {
	padding: 0;
	border-radius: 0;
	border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0;
	border: 0px;
	border-bottom: 1px solid lightgrey;
}

#map {
    width: 200px;
}