li.list-group-item {
	border: 0px;
}

li.list-group-item:nth-child(2n-1) {
	background-color: #FAFAFA;
}

.ingredient_image{
	height: 43px;
	float: right;
}

a.list-group-item {
	padding: 0;
	border-radius: 0;
	border-bottom-right-radius: 0; 
    border-bottom-left-radius: 0;
    border-top-right-radius: 0; 
    border-top-left-radius: 0;
	border: 0px;
	border-bottom: 1px solid white;
}

.list-group-item:last-child {
    margin-bottom: 0;
     border-bottom-right-radius: 0; 
     border-bottom-left-radius: 0; 
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#map {
    height:300px;
    width:300px;
}

.bg_1 {	background-color: #F6E3CE; }
.bg_1 h4, .bg_1 p {	color: #FAAC58; }

.bg_2 {	background-color: #F5D0A9; }
.bg_2 h4, .bg_2 p {	color: #FE9A2E; }

.bg_3 {	background-color: #F7BE81; }
.bg_3 h4, .bg_3 p {	color: #FF8000; }

.bg_4 {	background-color: #FAAC58; }
.bg_4 h4, .bg_4 p {	color: #DF7401; }

.progress-label {
    float: left;
    margin-right: 1em;
}

span.text-right {
	float: right;
	color: #DF0101;
}

.lb-price {
    text-transform: uppercase;
    font-size: 18px;
    color: #DF0101;
    float: right;
}

.lb-price::before { 
    content: "Çmimi: ";
    font-size: 12px;
}

.lb-price::after { 
    content: " Lekë";
    font-size: 12px;
}

.quantityToString {
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 14px;
}

hr.soften {
    border: 0px;
  border-bottom: 1px solid #ddd;
}

.orderedTime {
    float: right;
    font-size: 14px;
    color: #31708f;
    margin-right: 20px;
    font-weight: normal;
    margin-top: -10px;
}

.orderedTime::before {
    content: "Porositur më: ";
    font-size: 12px;
}

.glyphicon {
    padding-left: 15px;
    padding-right: 10px;
}

.navbar {
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
}

.statusButton {
    float: right;
    margin-top: 20px;
}

